<head>
  <%= stylesheet_link_tag 'index', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<section class="container text-center sign-ip">
  <div class="form-signin ">
    <div class="d-flex justify-content-center">
      <%= image_tag("favicon.png", size:"80x80", :alt =>"", :loading =>"lazy", class:"d-block") %>
    </div>
    <h2 class="h1 mb-3 font-weight-normal text-center">Log In</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group text-md-left">
        <%= f.label :email, class:"h6"%><br />
        <%= f.email_field :email, class:"form-control", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="form-group text-md-left">
        <%= f.label :password , class:"h6"%><br />
        <%= f.password_field :password,class:"form-control", autocomplete: "current-password" %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="field text-md-left">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="d-flex justify-content-end">
        <%= f.submit "Log in", class:"btn btn-outline-primary" %>
      </div>
    <% end %>

    <div class="text-md-left">
      <%= render "devise/shared/links" %>
    </div>
    <section class="footer  navbar  mt-5 mb-3 text-muted d-flex justify-content-center fixed-bottom">
      <a href="#">
        About
      </a>
      <a href="#">
        Help Center
      </a>
      <a href="#">
        Terms
      </a>
      <a href="#">
        Privacy policy
      </a>
      <a href="#">
        Cookies
      </a>
      <a href="#">
        Ads info
      </a>
      <a href="#">
        Blog
      </a>
      <a href="#">
        Status
      </a>
      <a href="#">
        Jobs
      </a>
      <a href="#">
        Brand
      </a>
      <a href="#">
        Advertise
      </a>
      <a href="#">
        Markething
      </a>
      <a href="#">
        Businesses
      </a>
      <a href="#">
        Developers
      </a>
      <a href="#">
        Directory
      </a>
      <a href="#">
        Settings
      </a>
      <a class="corpor">
        © 2020 Twitter, Inc.
      </a>
    </section>  
  </div>
</section>
